body{
    padding: 0;        
    margin: 0;   
    font-family: 'Quicksand', sans-serif !important ;
    background-color: rgb(255, 255, 255) ;
}


.dashboard{
    border: 2px solid rgb(0, 0, 0) ;
    display: flex ; 
}

.list{
    width: 47% ;
    display: flex ;
    flex-direction: column ;
    gap: 2rem ;
    background-color: #0e1111;
    color: white ;
    padding-right: 10px ;
    padding-left: 10px;
    padding-bottom: 100px ;
    border-radius: 0px 70px 70px 0px ;
}

.brand {
    height: 100px ;
}

.list div:nth-child( n+2 ) {
    width : 100%  ;
    height: 80px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.list div:nth-child( n+2 ) a {
    text-decoration: none ;
    color: white ;
    background-color: transparent ;
    width: 100% ;
    height: 100% ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    border: 2px solid whitesmoke ;
    border-radius: 0 20px 0px 20px ;
}

.list div:nth-child( n+2 ) a h3 {
    position: absolute ;
}

.list div:nth-child( n+2 ) a:hover {
    background-color: white ;
    color: black ;
    transition: 0.6s ;
}   

.list div:nth-child( n+2 ) a:hover h3 {
    position: unset ;
    width: 50% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.list div:nth-child( n+2 )  p {
visibility: hidden ;
}

.list div:nth-child( n+2 ) a:hover p {
visibility: visible ;
width: 50% ;
}


.generale-setting{
    background-color: white ;
    width: 53% ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}